<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <node name="map" pkg="erc_hackathon_22" type="map.py" output="screen"/>
    <!-- <node name="Astar" pkg="erc_hackathon_22" type="Astar.py" output="screen"/> -->
	<node name="turtle_move" pkg="erc_hackathon_22" type="turtle_move.py" output="screen"/>
	<node name="brain" pkg="erc_hackathon_22" type="brain.py" output="screen"/>

</launch>